<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login Page</title>
<link rel="stylesheet" href="/login.css">
</head>

<body>
<h1>Login Page</h1>
<form action="/login/password"  method="POST" id="loginForm">
<label for="username">User name:</label>
<input type="text" id="username" name="username">
<br>
<br>
<label for="password" style="padding: 4px;">Password:</label>
<input type="password" id="password" name="password">
<br>
<br>
<input type="submit" value="Login">
</form>
<a href="signup">Signup</a>

</body>
</html>